# .gitignore for Django projects

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore the Django settings file
littlelemon/settings.py

# Ignore the virtual environment directory
venv/

# Ignore database files
db.sqlite3

# Ignore local settings file
littlelemon/local_settings.py

# Ignore media files
media/

# Ignore static files
static/

# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore development-specific files
*.DS_Store
Thumbs.db
